.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.text-muted {
  color: #6c757d;
}

.form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 4px 0 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input[type="password"]:hover{
  border: 1px solid #000;
}