.search-bar-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.enrollment-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.enrollment-search-bar input[type="text"] {
  width: 325px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}