.edit-header {
  display: flex;
  align-items: safe center;
  justify-content: start;
}

.edit-header h2 {
  font-size: 24px;
  color: #333;
}

.edit-header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.enrollment-info-edit {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.enrollment-title {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

