.find-question-container {
  max-width: 600px;
  margin: 1rem auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.find-question-container input[type="text"] {
  /* agregar icono de busqueda */
  background-image: url("../../icons/search-alt-2-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: 98% 50%;
}

input[type="text"]:focus,
select:focus {
  border-color: #333;
}