.question-list ul {
  list-style: none;
  padding: 0;
}
.question-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0; 
}

.question-list li span {
  flex-grow: 1;
}