.btn {
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  font-weight: 700;
  border: 2px solid transparent;
  font-size: 1rem;
  outline: 0;
  transition: all 0.2s ease-out;
  display: block;
  cursor: pointer;
  width: 100%;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.btn:active,
.btn:target {
  transform: scale(0.95);
}

.btn.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  margin-bottom: 1rem;
}

.btn.btn-primary:hover {
  background-color: var(--primary-color-dark);
  color: #fff;
  outline: 0;
}


/* deshabilitar botón */
.btn.btn-primary[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

/* no se puede hacer hover en un botón deshabilitado */
.btn.btn-primary[disabled]:hover {
  background-color: var(--primary-color);
}

.btn.btn-secondary {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn.btn-secondary:hover {
  border: 2px solid var(--primary-color-dark);
  outline: 0;
  background-color: var(--transparent-button-hover);
}

.btn.btn-danger {
  background-color: var(--danger-color);
  color: #fff;
}

.btn.btn-danger:hover {
  background-color: var(--danger-color-hover);
  color: #fff;
}


.btn.btn-danger[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn.btn-danger[disabled]:hover {
  background-color: var(--danger-color);
}