@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


:root {
  --primary-color: #008f40;
  --primary-color-hover: #007a36;
  --primary-color-dark: #007a36;

  --secondary-color: #e60a39;
  --primary-background-color: #f8f9f8;
  --accent-color: #ffcc00;
  --neutral-dark: #333;
  --neutral-light: #E7F3ED;
  --neutral-color: #bdc3c7;

  --danger-color: #db3646;
  --danger-color-hover: #c92f3f;
  --success-color: #198754;
  --success-color-hover: #157f4f;
  
  --info-color: #0056b3;

  --transparent-button-hover: rgba(0, 0, 0, 0.1);
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: var(--neutral-dark);
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.1;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  &:focus {
    border: 2px solid var(--primary-background-color);
    box-shadow: 0px 0px 10px 0px rgba(29, 28, 59, 0.3);
    outline: none;
  }
}