# Base url for API requests
VITE_API_BASE_urlValue={urlValue}

# --- AUTHENTICATION ENDPOINTS ---
# Endpoint for logging in

VITE_LOGIN_ENDPOINT={urlValue}

# Endpoint for logging out
VITE_LOGOUT_ENDPOINT={urlValue}

# Endpoint for checking if the user is logged in
VITE_IS_LOGGED_IN_ENDPOINT={urlValue} # tentative

# Endpoint for changing the password
VITE_CHANGE_PASSWORD_ENDPOINT={urlValue}

# --- ENROLLMENTS MANAGEMENT ENDPOINTS ---
# Endpoint for listing all enrollments
VITE_GET_ALL_ENROLLMENTS_ENDPOINT={urlValue}

# Endpoint for searching by id
VITE_SEARCH_ENROLLMENT_BY_STUDENT_ID_ENDPOINT={urlValue}

# Endpoint for searching by student values
VITE_SEARCH_ENROLLMENT_BY_STUDENT_VALUES_ENDPOINT={urlValue}

# Endpoint for retrieving a document by document name
VITE_DOWNLOAD_DOCUMENT_BY_DOCUMENT_NAME_ENDPOINT={urlValue}

# Endpoint for updating the whatsapp permission
VITE_UPDATE_WHATSAPP_PERMISSION_ENDPOINT={urlValue}

# Endpoint for updating the enrollment information (status, date and/or whatsapp permission)
VITE_UPDATE_ENROLLMENT_INFORMATION_ENDPOINT={urlValue}

# --- CONFIGURATION ENDPOINTS ---
# Endpoint for saving exam schedule
VITE_SAVE_EXAM_SCHEDULE_ENDPOINT={urlValue}

# Endpoint for retrieving exam schedule
VITE_GET_EXAM_SCHEDULE_ENDPOINT={urlValue}

# Endpoint for saving the percentages values of each exam
VITE_UPDATE_EXAM_PERCENTAGES_ENDPOINT={urlValue}

# Endpoint for retrieving the percentages values of each exam
VITE_GET_EXAM_PERCENTAGES_ENDPOINT={urlValue}

# --- EXAM MANAGEMENT ENDPOINTS ---

# Endpoint for creating a new question
VITE_CREATE_QUESTION_ENDPOINT={urlValue}

# Endpoint for retrieving all questions
VITE_GET_ALL_QUESTIONS_ENDPOINT={urlValue}

VITE_GET_QUESTION_BY_CODE_ENDPOINT={urlValue}

# Endpoint for updating a question
VITE_UPDATE_QUESTION_ENDPOINT={urlValue}

# Endpoint for deleting an exam
VITE_DELETE_QUESTION_ENDPOINT={urlValue}

# Endpoints for searching questions
VITE_SEARCH_QUESTIONS_ENDPOINT={urlValue}

VITE_SEARCH_QUESTION_BY_CODE_ENDPOINT={urlValue}

# --- RESULTS MANAGEMENT ENDPOINTS ---

# Endpoint for sending the results of english exams
VITE_SEND_ENGLISH_EXAM_RESULTS_ENDPOINT={urlValue}

# --- USERS MANAGEMENT ENDPOINTS ---
#Endpoints for users
VITE_GET_USERS_ENDPOINT={urlValue}

VITE_DELETE_USER_ENDPOINT={urlValue}

VITE_CREATE_USER_ENDPOINT={urlValue}